
$white: #ffffff;
$black: #000000;
$red: #ff0000;

$COLOR_BG: $white;
$COLOR_TEXT_HERO: $white;
$COLOR_LINK_HOVER: $red;
$COLOR_SCRIM: rgba($black,0.75);
$COLOR_LOADER_BG: $white;
$COLOR_SPINNER_DARK: $black;
$COLOR_SPINNER_LIGHT: $white;